/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'assets/scss/theme.scss';

.mat-dialog-container-custom .mat-dialog-container{
    padding: 5px;
    min-width: 400px;
    max-width: 500px;
    max-height: 300px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color:#014a6f !important;
  }